@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
	<p>Name: Le Huu Phuoc</p>
	<p>ID: 60136576</p>
	<p>Phone: 0794508947</p>
</div>
